In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('customer.csv')

In [4]:
df=df.iloc[:,2:]

In [28]:
df.head(33)

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
11     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes
15     Poor        UG        No
16     Poor        UG       Yes
17     Poor        UG       Yes
18     Good    School        No
19     Poor        PG       Yes
20  Average    School       Yes
21  Average        PG        No
22     Poor        PG       Yes
23     Good    School        No
24  Average        PG       Yes
25     Good    School        No
26     Poor        PG        No
27     Poor        PG        No
28     Poor    School        No
29  Average        UG       Yes
30  Average        UG        No
31     Poor    School       Yes
32  Average        UG       Yes

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2) ##inside train_test_split(x,y) x-->kota row kota col thakbe(parameters)   y-->kota row r col thakbe(features) -1=last column 
X_train

     review education
20  Average    School
32  Average        UG
34  Average    School
0   Average    School
27     Poor        PG
8   Average        UG
22     Poor        PG
44  Average        UG
13  Average    School
40     Good    School
28     Poor    School
12     Poor    School
3      Good        PG
41     Good        PG
23     Good    School
45     Poor        PG
37  Average        PG
25     Good    School
14     Poor        PG
18     Good    School
16     Poor        UG
2      Good        PG
21  Average        PG
39     Poor        PG
47     Good        PG
4   Average        UG
5   Average    School
7      Poor    School
29  Average        UG
10     Good        UG
33     Good        PG
17     Poor        UG
6      Good    School
38     Good    School
9      Good        UG
42     Good        PG
36     Good        UG
46     Poor        PG
48     Good        UG
24  Average        PG

In [13]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])  ##'School'<'UG'<'PG'

In [14]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [15]:
X_train=oe.transform(X_train)
X_test=oe.transform(X_test)

In [17]:
X_train

array([[0., 0.],
       [2., 1.],
       [2., 0.],
       [0., 2.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [2., 2.],
       [2., 2.],
       [2., 0.],
       [2., 1.],
       [2., 1.],
       [0., 2.],
       [0., 1.],
       [0., 2.],
       [0., 2.],
       [2., 1.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [0., 0.],
       [0., 2.],
       [1., 2.],
       [2., 2.],
       [0., 2.],
       [1., 1.],
       [1., 2.],
       [1., 2.],
       [0., 2.],
       [0., 1.],
       [2., 2.],
       [2., 1.],
       [2., 2.],
       [1., 1.],
       [2., 0.],
       [0., 1.],
       [0., 0.],
       [0., 1.],
       [2., 0.]])

## Label Encoding : USED ONLY ON OUTPUT COL

In [20]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()  ## here we cannot define categories it does that internally

In [21]:
le.fit(y_train)

LabelEncoder()

In [22]:
y_train=le.transform(y_train)
y_test=le.transform(y_test)

In [23]:
y_train

array([0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0])