In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.linear_model import LogisticRegression
from sklearn.impute import KNNImputer,SimpleImputer

In [3]:
df=pd.read_csv('train.csv',usecols=['Age','Pclass','Fare','Survived'])

In [4]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [5]:
X=df.drop(columns=['Survived'])
y=df['Survived']

In [7]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=4)

In [32]:
knn=KNNImputer(n_neighbors=1,add_indicator=True,weights='distance') ##weights= distance :while doing avg more wt is given to closer value
X_train_knn=knn.fit_transform(X_train)
X_test_knn=knn.transform(X_test)

In [33]:
lr=LogisticRegression()

In [34]:
lr.fit(X_train_knn,y_train)
y_pred=lr.predict(X_test_knn)
accuracy_score(y_pred,y_test)

0.7541899441340782

In [35]:
si=SimpleImputer()
X_train_si=knn.fit_transform(X_train)
X_test_si=knn.transform(X_test)

In [36]:
lr.fit(X_train_si,y_train)
y_pred=lr.predict(X_test_si)
accuracy_score(y_pred,y_test)

0.7541899441340782